body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}

#top-bar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

#filtro {
  width: 90%;
  max-width: 500px;
}

.select2-container .select2-selection--multiple {
  min-height: 40px;
  border-radius: 6px;
}

#map {
  height: 90vh;
  width: 100%;
}

.filtro-grupo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 10px;
}

.filtro-grupo label {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f0f0f0;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 2px #ccc;
}

.filtro-grupo input[type="checkbox"] {
  cursor: pointer;
}

#opciones {
  text-align: center;
  margin: 10px 0;
}

#radioSlider {
  width: 300px;
  margin-top: 5px;
}

.best-station-icon {
  border: 3px solid lime;
  border-radius: 50%;
}

.leaflet-marker-icon.icono-mejor-precio {
  border: 3px solid limegreen;
  border-radius: 50%;
  box-shadow: 0 0 12px 3px limegreen;
  filter: brightness(1.2);
}


#btnBuscar {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnBuscar:hover {
  background-color: #246b46;
}

#btnLimpiar {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

#btnLimpiar:hover {
  background-color: #d32f2f;
}





